<footer class='footer pb-4 pt-4' >
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-lg-3">
                <a href="#">Home</a>
            </div>
            <div class="col-12 col-lg-3">
                <a href="#">Historias</a>
            </div>
            <div class="col-12 col-lg-3">
                <a href="#">Nosotros</a>
            </div>        
            <div class="col-12 col-lg-3">
                <a href="#">Preguntas frecuentes</a>
            </div>
            <div class="col-12 col-lg-3">
                <a href="#">Contactos</a>
            </div>
            <div class="col-12 col-lg-3">
                <a href="#">Hoteles</a>
            </div>        
            <div class="col-12 col-lg-3">
                <a href="#">Vuelos</a>
            </div>    
            <div class="col-12 col-lg-3">
                <a href="#">Paquetes</a>
            </div>
            <div class="col-12 col-lg-3">
                <a href="#">Online</a>
            </div>
            <div class="col-12 col-lg-3">
                <a href="#">Condiciones</a>
            </div>
        </div>
    </div>
</footer>