
.footer {
    background: #3CA55C;
    background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);
    background: linear-gradient(to right, #B5AC49, #3CA55C);
}

.footer a {
    color: #ffffff;
}